*.o
*.t
*.a
*.so
libgo/context/*.asm

third_party/gtest/*
libgo/common/cmake_config.h
vs_proj/vs201*
.ycm_extra_conf.py
.ycm_extra_conf.pyc
build/
tutorial/build/
test/util/out.exe
test/util/a.out
test/golang/libgo_test
libgo/context/*.S

third_party/boost.context/b2
third_party/boost.context/bin.v2/
third_party/boost.context/bjam
third_party/boost.context/bootstrap.log
third_party/boost.context/project-config.jam
third_party/boost.context/project-config.jam.*
third_party/boost.context/tools/build/src/engine/bin.linuxx86_64/*
third_party/boost.context/stage/
third_party/boost.context/tools/build/src/engine/bootstrap/jam*

test/gtest_unit/build
